.footer
    height: 500px

/*some*/
.header-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff
    padding: vw(15) vw(20)
    border-radius: vw(50)

.page__link
    margin: vw(0) vw(18.5)
    transition: .2s ease-in-out
    &:hover
        color: #1E88E5
        transition: .2s ease-in-out

.mid
    display: flex
    align-items: center

.page__btn-1
    margin-left: vw(60)
