section.advantages
    .wrapper
        .advantages-wrapper
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-1.png")
                p.page__text-30-Medium Create Account
                p.page__text-24-regular-grey First you have to create a account  here
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-1.png")
                p.page__text-30-Medium Create Account
                p.page__text-24-regular-grey First you have to create a account  here
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-1.png")
                p.page__text-30-Medium Create Account
                p.page__text-24-regular-grey First you have to create a account  here