section.advantages
    .wrapper
        .advantages-wrapper
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-1.png")
                p.page__text-30-Medium Create Account
                p.page__text-24-regular-grey First you have to create a account  here
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-2.png")
                p.page__text-30-Medium Search work
                p.page__text-24-regular-grey Search the best freelance work here
            .advantages-item
                .page__img
                    img(src="assets/images/png/advantages-3.png")
                p.page__text-30-Medium Save and apply
                p.page__text-24-regular-grey Apply or save and start your work