.page
    a
        text-decoration: none
    button

    &__title
        &-h1
            font-family: Poppins-Bold
            font-size: vw(65)
            line-height: vw(97.5)
            +fabletMid-block
                font-size: 45px
                line-height: 60px
            +sm-block
                font-size: 35px
                line-height: 60px
    &__text
        &-18-Regular
            font-family: Poppins-Regular
            font-size: vw(18)
            color: #252525
            +lg-block
                font-size: 18px
            &-grey
                font-family: Poppins-Regular
                font-size: vw(18)
                color: #9D9D9D
                +lg-block
                    font-size: 18px
        &-20-medium
            font-family: Poppins-Medium
            font-size: vw(20)
            +lg-block
                font-size: 20px
        &-20-regular
            font-family: Poppins-Regular
            font-size: vw(20)
            +lg-block
                font-size: 20px
        &-24-regular
            font-family: Poppins-Regular
            font-size: vw(24)
            +lg-block
                font-size: 24px
        &-24-Medium
            font-family: Poppins-Medium
            font-size: vw(24)
            color: #252525
            +lg-block
                font-size: 24px
        &-24-regular-grey
            font-family: Poppins-Regular
            font-size: vw(24)
            color: #9D9D9D
            +lg-block
                font-size: 24px
            +xs-block
                font-size: 18px

        &-30-Medium
            font-family: Poppins-Medium
            font-size: vw(30)
            line-height: 36px
            +lg-block
                font-size: 30px
            +xs-block
                font-size: 25px
        &-32-Medium
            font-family: Poppins-Medium
            font-size: vw(32)
            color: #252525
            +lg-block
                font-size: 32px
            &-px
                font-family: Poppins-Medium
                font-size: 32px
                color: #252525
        &-36-Regular-grey
            font-family: Poppins-Regular
            font-size: vw(36)
            color: #9D9D9D
            +lg-block
                font-size: 36px
            +xs-block
                font-size: 26px
        &-36-Semibold
            font-family: Poppins-Semibold
            font-size: vw(36)
            +lg-block
                font-size: 36px
        &-56-Medium
            font-family: Poppins-Medium
            font-size: vw(56)
            line-height: 84px
            +lg-block
                font-size: 56px
            +xs-block
                font-size: 40px
                line-height: 60px
    &__link
        color: #252525
    &__btn
        &-1
            font-family: Poppins-Semibold
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            height: 52px
            padding: 11px 43px
            font-size: 20px
            color: #fff
            border: transparent
            background-color: #1E88E5
            border-radius: 30px
        &-2
            font-family: Poppins-Semibold
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            height: 76px
            padding: 20px 24px
            font-size: 24px
            color: #fff
            border: transparent
            background-color: #1E88E5
            border-radius: 10px
            +sm-block
                font-size: 17px
    &__img
