section.best-freelancers
    .wrapper
        .best-freelancers-wrapper
            .left
                .page__img
                    img(src="assets/images/png/girl.png")
                .best-freelancers-item-top
                    p.page__text-36-Semibold 500+
                    p.page__text-24-regular-grey freelancers
                .best-freelancers-item-bottom
                    p.page__text-36-Semibold 300+ 
                    p.page__text-24-regular-grey freelance work Posted
            .right
                p.page__text-56-Medium Find The Best <span>Freelancers</span> Here 
                p.page__text-24-regular-grey Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat bibendum ornare urna, cursus eget convallis. Feugiat imperdiet posuere justo, ultrices interdum sed orci nunc, mattis. Ipsum viverra viverra neque adipiscing arcu, quam dictum. Dui mi viverra dui, sit accumsan, tincidunt massa. Dui cras magnis.