header.header
    .wrapper
        .header-wrapper
            .left
                img(src="assets/images/svg/logo.svg")
            .mid
                a(href="#").page__link.page__text-20-regular Home
                a(href="#").page__link.page__text-20-regular Find work
                a(href="#").page__link.page__text-20-regular Find Freelancers
                a(href="#").page__link.page__text-20-regular Log In
                a(href="#").page__link.page__text-20-regular Sign Up
                button.page__btn-1 Post a project
            