section.freelance-works
    .wrapper
        .descr
            p.page__text-36-Regular-grey The latest freelance work!
            p.page__text-56-Medium Recently Posted <span>Works</span>
    .slider-freelance
        .slide
            .page__img
                img(src="assets/images/png/slider-1.svg")
            p.page__text-32-Medium Logo Design
            p.page__text-24-regular-grey Need a professional logo with writing underneath for our jewellery company
            .row-slide
                p.page__text-24-Medium Highest bid $500
                a(href="#").page__text-24-Medium Apply now
        .slide
            .page__img
                img(src="assets/images/png/slider-2.svg")
            p.page__text-32-Medium Graphic Design
            p.page__text-24-regular-grey Need a SEO for our company who will let our company to a higher level
            .row-slide
                p.page__text-24-Medium Highest bid $500
                a(href="#").page__text-24-Medium Apply now
        .slide
            .page__img
                img(src="assets/images/png/slider-3.svg")
            p.page__text-32-Medium Need a SEO
            p.page__text-24-regular-grey Need a professional logo with writing underneath for our jewellery company
            .row-slide
                p.page__text-24-Medium Highest bid $300
                a(href="#").page__text-24-Medium Apply now
        .slide
            .page__img
                img(src="assets/images/png/slider-1.svg")
            p.page__text-32-Medium Logo Design
            p.page__text-24-regular-grey Need a professional logo with writing underneath for our jewellery company
            .row-slide
                p.page__text-24-Medium Highest bid $500
                a(href="#").page__text-24-Medium Apply now
        .slide
            .page__img
                img(src="assets/images/png/slider-2.svg")
            p.page__text-32-Medium Graphic Design
            p.page__text-24-regular-grey Need a SEO for our company who will let our company to a higher level
            .row-slide
                p.page__text-24-Medium Highest bid $500
                a(href="#").page__text-24-Medium Apply now
        .slide
            .page__img
                img(src="assets/images/png/slider-3.svg")
            p.page__text-32-Medium Need a SEO
            p.page__text-24-regular-grey Need a professional logo with writing underneath for our jewellery company
            .row-slide
                p.page__text-24-Medium Highest bid $300
                a(href="#").page__text-24-Medium Apply now
    .prevArrow#prevArrow
        img(src="assets/images/png/arrow-blue.svg")
    .nextArrow#nextArrow
        img(src="assets/images/png/arrow-blue.svg")
    
        